<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo | Cadastro Funcionários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <div class="container">
    <div class = "col-md-10 offset-md-1 ">
        <div class="jumbotron">
            <h1 class="display-4">Cadastro de Funcionários</h1>
            <p class="lead" font-italic>Python, Django, Angula projeto de implatação de DRUD.</p>
            <hr class="my-4">
            {% block content %}
            {% endblock content %}
            <p>Prototipo de Sistema de Cadastro.</p>
            <!-- <div class="btn btn-primary btn-lg"></div> -->
          </div>
       </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
crossorigin="anonymous"></script>


<style>
 body {
    background-image: linear-gradient(to bottom, #192e55, #6684c4 130%);
 }

 .jumbotron {
    border-radius: 58px;
    background-image: linear-gradient(to bottom, #ccd6ec, #8fa2ca 130%);
 }

</style>
</body>
</html>